@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Space+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --Strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --very-dark-cyan: #00494d;
  --dark-grayish-cyan: #5e7a7d;
  --grayish-cyan: #7f9c9f;
  --light-grayish-cyan: #c5e4e7;
  --very-light-grayish-cyan: #f4fafa;
  --white: #fff;
}

body {
  margin: 0 auto;
  width: 375px;
  /* height: 933px; */
  font-family: 'space mono';
  font-size: 16px;
  /* line-height: 1.6; */
  color: var(--very-dark-cyan);
}

main {
  margin: 0 auto;
  width: 375px;
  height: 933px;
  padding: 2rem;
  margin-top: 2rem;
  background-color: var(--light-grayish-cyan);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 2.5rem auto 2.2rem auto;
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  letter-spacing: 13px;
  line-height: 1.2;
}

.attribution {
  margin-top: 18rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}